.edit-note-form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 300px; 
    padding-top: 50px;
    padding-left: 40%;
.h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mat-form-field{
    width: 300px;
}
}
.mat-button, .mat-icon-button, .mat-stroked-button {
    color: rgb(0, 0, 0);
    background:burlywood ;
}